In [14]:
import numpy as np
import pandas as pd
from statsmodels.sandbox.regression.try_treewalker import data2
%matplotlib inline

In [15]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                "key2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"), 
                "data1" : np.random.standard_normal(7),"data2" : np.random.standard_normal(7)})

In [16]:
df

   key1  key2     data1     data2
0     a     1 -1.153290 -0.602169
1     a     2 -1.171653 -0.156604
2  None     1  0.119089  0.297419
3     b     2  0.491303 -0.222512
4     b     1  1.863185  0.685920
5     a  <NA>  0.599457  0.832523
6  None     1  0.118696  1.230066

In [17]:
grouped = df["data1"].groupby(df["key1"])

In [18]:
grouped

In [19]:
grouped.mean()

key1
a   -0.575162
b    1.177244
Name: data1, dtype: float64

In [20]:
means = df["data1"].groupby([df["key1"], df["key2"]]).mean()

In [21]:
means

key1  key2
a     1      -1.153290
      2      -1.171653
b     1       1.863185
      2       0.491303
Name: data1, dtype: float64

In [22]:
states= np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])
years = np.array([2005, 2005, 2006, 2005, 2006, 2006, 2005])

In [23]:
df["data1"].groupby([states, years]).mean()

CA  2005   -1.171653
    2006    0.359273
OH  2005   -0.181097
    2006    1.863185
Name: data1, dtype: float64

In [24]:
df.groupby("key1").mean()

      key2     data1     data2
key1
a      1.5 -0.575162  0.024583
b      1.5  1.177244  0.231704

In [27]:
df.groupby("key2").mean(numeric_only=True)

         data1     data2
key2
1     0.236920  0.402809
2    -0.340175 -0.189558

In [28]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    1    -1.153290 -0.602169
     2    -1.171653 -0.156604
b    1     1.863185  0.685920
     2     0.491303 -0.222512

In [29]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [30]:
df.groupby("key1",dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [31]:
df.groupby(["key1", "key2"],dropna=False).size()

key1  key2
a     1       1
      2       1
      <NA>    1
b     1       1
      2       1
NaN   1       2
dtype: int64

In [32]:
df.groupby("key1").count()

      key2  data1  data2
key1
a        2      3      3
b        2      2      2

In [33]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1 -1.153290 -0.602169
1    a     2 -1.171653 -0.156604
5    a  <NA>  0.599457  0.832523
b
  key1  key2     data1     data2
3    b     2  0.491303 -0.222512
4    b     1  1.863185  0.685920

In [34]:
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print((k1, k2))
    print(group)

('a', 1)
  key1  key2    data1     data2
0    a     1 -1.15329 -0.602169
('a', 2)
  key1  key2     data1     data2
1    a     2 -1.171653 -0.156604
('b', 1)
  key1  key2     data1    data2
4    b     1  1.863185  0.68592
('b', 2)
  key1  key2     data1     data2
3    b     2  0.491303 -0.222512

In [35]:
pieces ={name: group for name, group in df.groupby("key1")}

In [36]:
pieces["b"]

  key1  key2     data1     data2
3    b     2  0.491303 -0.222512
4    b     1  1.863185  0.685920

In [40]:
grouped = df.groupby({"key1": "key", "key2": "key",
                          "data1": "data", "data2": "data"}, axis="columns")

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/2987158108.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  grouped = df.groupby({"key1": "key", "key2": "key",

In [41]:
for group_key, group_value in grouped:
    print(group_key)
    print(group_value)

data
      data1     data2
0 -1.153290 -0.602169
1 -1.171653 -0.156604
2  0.119089  0.297419
3  0.491303 -0.222512
4  1.863185  0.685920
5  0.599457  0.832523
6  0.118696  1.230066
key
   key1  key2
0     a     1
1     a     2
2  None     1
3     b     2
4     b     1
5     a  <NA>
6  None     1

In [42]:
df.groupby(["key1", "key2"])[["data2"]].mean()

              data2
key1 key2
a    1    -0.602169
     2    -0.156604
b    1     0.685920
     2    -0.222512

In [44]:
s_grouped = df.groupby(["key1", "key2"])["data2"]

In [45]:
s_grouped

In [46]:
s_grouped.mean()

key1  key2
a     1      -0.602169
      2      -0.156604
b     1       0.685920
      2      -0.222512
Name: data2, dtype: float64

In [47]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=["a", "b", "c", "d", "e"],
                      index=["Joe", "Steve", "Wanda", "Jill", "Trey"])

In [48]:
people.iloc[2:3, [1, 2]] = np.nan

In [49]:
people

              a         b         c         d         e
Joe    0.535087 -0.780505 -0.184767  0.274421 -1.048298
Steve  1.251502  0.661818 -0.035428  0.136224 -1.618404
Wanda -0.606732       NaN       NaN -0.579406  0.483757
Jill   0.421308 -1.097713 -0.626333 -0.810565  0.891965
Trey  -0.696016  0.545960  1.639138 -0.796298  0.140685

In [50]:
mapping = {"a": "red", "b": "red", "c": "blue",
           "d": "blue", "e": "red", "f": "orange"}

In [51]:
by_column = people.groupby(mapping, axis=1)

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/953159321.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  by_column = people.groupby(mapping, axis=1)

In [52]:
by_column.sum()

           blue       red
Joe    0.089654 -1.293716
Steve  0.100796  0.294916
Wanda -0.579406 -0.122975
Jill  -1.436898  0.215560
Trey   0.842840 -0.009371

In [53]:
map_series = pd.Series(mapping)

In [54]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [55]:
people.groupby(map_series, axis=1).count()

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/1366557749.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  people.groupby(map_series, axis=1).count()

       blue  red
Joe       2    3
Steve     2    3
Wanda     1    2
Jill      2    3
Trey      2    3

In [56]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.535087 -0.780505 -0.184767  0.274421 -1.048298
4 -0.274708 -0.551753  1.012805 -1.606863  1.032650
5  0.644770  0.661818 -0.035428 -0.443182 -1.134647

In [57]:
key_list = ["one", "one", "one", "two", "two"]

In [58]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one  0.535087 -0.780505 -0.184767  0.274421 -1.048298
4 two -0.696016 -1.097713 -0.626333 -0.810565  0.140685
5 one -0.606732  0.661818 -0.035428 -0.579406 -1.618404

In [59]:
columns = pd.MultiIndex.from_arrays([["US", "US", "US", "JP", "JP"],
                                     [1, 3, 5, 1, 3]],
                                     names=["cty", "tenor"])

In [61]:
hier_df = pd.DataFrame(np.random.standard_normal((4, 5)), columns=columns)

In [62]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0     -0.156117  1.087097 -0.692652 -1.250903  0.891381
1      1.086480  0.428446  2.637945 -0.615480 -1.131811
2      0.457947  0.260977  2.433309 -0.824922  1.198431
3     -0.380514 -0.549388 -0.881212  0.768361  0.042011

In [63]:
hier_df.groupby(level="cty", axis=1).count()

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/2861124539.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  hier_df.groupby(level="cty", axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [64]:
print(df)

   key1  key2     data1     data2
0     a     1 -1.153290 -0.602169
1     a     2 -1.171653 -0.156604
2  None     1  0.119089  0.297419
3     b     2  0.491303 -0.222512
4     b     1  1.863185  0.685920
5     a  <NA>  0.599457  0.832523
6  None     1  0.118696  1.230066

In [65]:
grouped = df.groupby("key1")

In [66]:
grouped["data1"].nsmallest(2)

key1
a     1   -1.171653
      0   -1.153290
b     3    0.491303
      4    1.863185
Name: data1, dtype: float64

In [67]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

      key2     data1     data2
key1
a        1  1.771110  1.434692
b        1  1.371882  0.908432

In [68]:
grouped.describe()

      key2                                           data1            ...  \
     count mean       std  min   25%  50%   75%  max count      mean  ...
key1                                                                  ...
a      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   3.0 -0.575162  ...
b      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   2.0  1.177244  ...

                         data2                                          \
           75%       max count      mean       std       min       25%
key1
a    -0.276916  0.599457   3.0  0.024583  0.734307 -0.602169 -0.379386
b     1.520215  1.863185   2.0  0.231704  0.642358 -0.222512  0.004596


           50%       75%       max
key1
a    -0.156604  0.337960  0.832523
b     0.231704  0.458812  0.685920

[2 rows x 24 columns]

In [69]:
tips = pd.read_csv("/Volumes/developer/Pycharm/Projects/DataAnalisisBook/pandasexamples/examples/tips.csv")

In [70]:
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [71]:
tips["tip_pct"] = tips["tip"] / tips["total_bill"]

In [72]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [73]:
grouped = tips.groupby(["day", "smoker"])

In [74]:
grouped_pct = grouped["tip_pct"]

In [75]:
grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [76]:
grouped_pct.agg(["mean", "std", peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [77]:
grouped_pct.agg([("average", "mean"), ("stdev", np.std)])

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/3111280939.py:1: FutureWarning: The provided callable <function std at 0x104210b80> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  grouped_pct.agg([("average", "mean"), ("stdev", np.std)])

              average     stdev
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [78]:
functions = ["count", "mean", "max"]

In [80]:
result = grouped[["tip_pct", "total_bill"]].agg(functions)

In [81]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [82]:
result["tip_pct"]

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [83]:
ftuples = [("Average", "mean"), ("Variance", np.var)]

In [84]:
grouped[["tip_pct", "total_bill"]].agg(ftuples)

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/780895.py:1: FutureWarning: The provided callable <function var at 0x104210d60> is currently using SeriesGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  grouped[["tip_pct", "total_bill"]].agg(ftuples)

              tip_pct           total_bill
              Average  Variance    Average    Variance
day  smoker
Fri  No      0.151650  0.000791  18.420000   25.596333
     Yes     0.174783  0.002631  16.813333   82.562438
Sat  No      0.158048  0.001581  19.661778   79.908965
     Yes     0.147906  0.003767  21.276667  101.387535
Sun  No      0.160113  0.001793  20.506667   66.099980
     Yes     0.187250  0.023757  24.120000  109.046044
Thur No      0.160298  0.001503  17.113111   59.625081
     Yes     0.163863  0.001551  19.190588   69.808518

In [85]:
grouped.agg({"tip": np.max, "size": "sum"})

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/727700194.py:1: FutureWarning: The provided callable <function amax at 0x10420bc40> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouped.agg({"tip": np.max, "size": "sum"})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [86]:
grouped.agg({"tip":np.max, "size": "sum"})

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/2136087996.py:1: FutureWarning: The provided callable <function amax at 0x10420bc40> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouped.agg({"tip":np.max, "size": "sum"})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [87]:
grouped.agg({"tip_pct": ["min", "max", "mean", "std"],
             "size": "sum"})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

In [90]:
tips.groupby(["day", "smoker"], as_index=False).mean(numeric_only=True)

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863

In [91]:
# Apply
def top(df, n=5, column="tip_pct"):
    return df.sort_values(by=column)[:n]

In [92]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
102       44.30  2.50    Yes  Sat  Dinner     3  0.056433
57        26.41  1.50     No  Sat  Dinner     2  0.056797
0         16.99  1.01     No  Sun  Dinner     2  0.059447
187       30.46  2.00    Yes  Sun  Dinner     5  0.065660
210       30.06  2.00    Yes  Sat  Dinner     3  0.066534

In [93]:
tips.groupby("smoker").apply(top)

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/242339874.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby("smoker").apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     57        26.41  1.50     No   Sat  Dinner     2  0.056797
       0         16.99  1.01     No   Sun  Dinner     2  0.059447
       48        28.55  2.05     No   Sun  Dinner     3  0.071804
       146       18.64  1.36     No  Thur   Lunch     3  0.072961
       130       19.08  1.50     No  Thur   Lunch     2  0.078616
Yes    237       32.83  1.17    Yes   Sat  Dinner     2  0.035638
       102       44.30  2.50    Yes   Sat  Dinner     3  0.056433
       187       30.46  2.00    Yes   Sun  Dinner     5  0.065660
       210       30.06  2.00    Yes   Sat  Dinner     3  0.066534
       240       27.18  2.00    Yes   Sat  Dinner     2  0.073584

In [94]:
tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/2722508240.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

                 total_bill   tip smoker   day    time  size   tip_pct
smoker day
No     Fri  99        12.46  1.50     No   Fri  Dinner     2  0.120385
       Sat  111        7.25  1.00     No   Sat  Dinner     1  0.137931
       Sun  6          8.77  2.00     No   Sun  Dinner     2  0.228050
       Thur 149        7.51  2.00     No  Thur   Lunch     2  0.266312
Yes    Fri  92         5.75  1.00    Yes   Fri  Dinner     2  0.173913
       Sat  67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       Sun  172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       Thur 196       10.34  2.00    Yes  Thur   Lunch     2  0.193424

In [95]:
result = tips.groupby("smoker")["tip_pct"].describe()

In [97]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [98]:
result.unstack("smoker")

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [99]:
def f(group):
    return group.describe()

In [100]:
grouped.apply(f)

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/37897609.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped.apply(f)

                   total_bill       tip  size   tip_pct
day  smoker
Fri  No     count    4.000000  4.000000  4.00  4.000000
            mean    18.420000  2.812500  2.25  0.151650
            std      5.059282  0.898494  0.50  0.028123
            min     12.460000  1.500000  2.00  0.120385
            25%     15.100000  2.625000  2.00  0.137239
...                       ...       ...   ...       ...
Thur Yes    min     10.340000  2.000000  2.00  0.090014
            25%     13.510000  2.000000  2.00  0.148038
            50%     16.470000  2.560000  2.00  0.153846
            75%     19.810000  4.000000  2.00  0.194837
            max     43.110000  5.000000  4.00  0.241255

[64 rows x 4 columns]

In [101]:
tips.groupby("smoker", group_keys=False).apply(top)

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/2350148657.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby("smoker", group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
57        26.41  1.50     No   Sat  Dinner     2  0.056797
0         16.99  1.01     No   Sun  Dinner     2  0.059447
48        28.55  2.05     No   Sun  Dinner     3  0.071804
146       18.64  1.36     No  Thur   Lunch     3  0.072961
130       19.08  1.50     No  Thur   Lunch     2  0.078616
237       32.83  1.17    Yes   Sat  Dinner     2  0.035638
102       44.30  2.50    Yes   Sat  Dinner     3  0.056433
187       30.46  2.00    Yes   Sun  Dinner     5  0.065660
210       30.06  2.00    Yes   Sat  Dinner     3  0.066534
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584

In [102]:
frame = pd.DataFrame({"data1": np.random.standard_normal(1000),
                      "data2": np.random.standard_normal(1000)})

In [103]:
frame.head()

      data1     data2
0  1.211960  0.784571
1 -0.189146 -0.482200
2  0.044702 -1.660237
3 -0.235207  1.682398
4 -3.039017  1.025502

In [104]:
quartiles= pd.cut(frame.data1, 4)

In [105]:
quartiles.head()

0      (0.289, 1.953]
1     (-1.375, 0.289]
2     (-1.375, 0.289]
3     (-1.375, 0.289]
4    (-3.046, -1.375]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.046, -1.375] < (-1.375, 0.289] < (0.289, 1.953] < (1.953, 3.616]]

In [106]:
def get_stats(group):
    return {"min": group.min(), "max": group.max(),
            "count": group.count(), "mean": group.mean()}

In [107]:
grouped = frame.groupby(quartiles)

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/4157715240.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = frame.groupby(quartiles)

In [108]:
grouped.apply(get_stats)

data1
(-3.046, -1.375]    {'min': [-3.0390169498248083, -2.3597856793420...
(-1.375, 0.289]     {'min': [-1.3660047208620978, -2.7322092746734...
(0.289, 1.953]      {'min': [0.290195900262778, -2.729118104730717...
(1.953, 3.616]      {'min': [1.9706343151087844, -1.89132789065723...
dtype: object

In [109]:
grouped.agg(["min", "max", "count", "mean"])

                     data1                               data2            \
                       min       max count      mean       min       max
data1
(-3.046, -1.375] -3.039017 -1.382826    92 -1.808518 -2.359786  2.889767
(-1.375, 0.289]  -1.366005  0.287426   517 -0.454389 -2.732209  2.984614
(0.289, 1.953]    0.290196  1.942899   369  0.916964 -2.729118  2.591258
(1.953, 3.616]    1.970634  3.616368    22  2.358518 -1.891328  1.445327


                 count      mean
data1
(-3.046, -1.375]    92 -0.080352
(-1.375, 0.289]    517  0.006019
(0.289, 1.953]     369 -0.067660
(1.953, 3.616]      22 -0.312801

In [111]:
quartiles_samp= pd.qcut(frame["data1"], 10, labels=False)

In [112]:
quartiles_samp.head()

0    8
1    4
2    5
3    4
4    0
Name: data1, dtype: int64

In [113]:
grouped = frame.groupby(quartiles_samp)

In [114]:
grouped.apply(get_stats)

data1
0    {'min': [-3.0390169498248083, -2.3597856793420...
1    {'min': [-1.3091419757369875, -2.7322092746734...
2    {'min': [-0.8454447772274181, -2.6633027367133...
3    {'min': [-0.555522880195744, -2.31864658888104...
4    {'min': [-0.31568291782068003, -2.084794387564...
5    {'min': [-0.012346741817766188, -2.60396790814...
6    {'min': [0.2706824620908052, -2.55839475171128...
7    {'min': [0.5463346877248417, -2.08586631520326...
8    {'min': [0.8679636459204615, -2.72911810473071...
9    {'min': [1.3297734845998104, -2.11409475889848...
dtype: object

In [115]:
s = pd.Series(np.random.standard_normal(6))

In [116]:
s[::2] = np.nan

In [117]:
s

0         NaN
1   -0.099776
2         NaN
3    0.298271
4         NaN
5    1.710942
dtype: float64

In [118]:
s.fillna(s.mean())

0    0.636479
1   -0.099776
2    0.636479
3    0.298271
4    0.636479
5    1.710942
dtype: float64

In [120]:
states = ["Ohio", "New York", "Vermont", "Florida",
          "Oregon", "Nevada", "California", "Idaho"]

In [122]:
group_key = ["East", "East", "East", "East","West", "West", "West", "West"]

In [123]:
data = pd.Series(np.random.standard_normal(8), index=states)

In [124]:
data

Ohio          0.104017
New York      0.737499
Vermont       0.090315
Florida       0.773475
Oregon        0.818102
Nevada       -0.355536
California    0.531721
Idaho        -0.950575
dtype: float64

In [125]:
data[["Vermont", "Nevada", "Idaho"]] = np.nan

In [126]:
data

Ohio          0.104017
New York      0.737499
Vermont            NaN
Florida       0.773475
Oregon        0.818102
Nevada             NaN
California    0.531721
Idaho              NaN
dtype: float64

In [128]:
data.groupby(group_key).size()

East    4
West    4
dtype: int64

In [129]:
data.groupby(group_key).count()

East    3
West    2
dtype: int64

In [130]:
data.groupby(group_key).mean()

East    0.538331
West    0.674912
dtype: float64

In [131]:
def fill_mean(group):
    return group.fillna(group.mean())

In [132]:
data.groupby(group_key).apply(fill_mean)

East  Ohio          0.104017
      New York      0.737499
      Vermont       0.538331
      Florida       0.773475
West  Oregon        0.818102
      Nevada        0.674912
      California    0.531721
      Idaho         0.674912
dtype: float64

In [133]:
fill_values = {"East": 0.5, "West": -1}

In [134]:
def fill_func(group):
    return group.fillna(fill_values[group.name])

In [135]:
data.groupby(group_key).apply(fill_func)

East  Ohio          0.104017
      New York      0.737499
      Vermont       0.500000
      Florida       0.773475
West  Oregon        0.818102
      Nevada       -1.000000
      California    0.531721
      Idaho        -1.000000
dtype: float64

In [136]:
suits = ["H", "S", "C", "D"]
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ["A"] + list(range(2, 11)) + ["J", "K", "Q"]
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val, index=cards)

In [137]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [138]:
def draw(deck, n=5):
    return deck.sample(n)

In [139]:
draw(deck)

2D    2
3S    3
5C    5
8D    8
AC    1
dtype: int64

In [140]:
def get_suit(card):
    # last letter is suit
    return card[-1]

In [141]:
deck.groupby(get_suit).apply(draw, n=2)

C  QC    10
   5C     5
D  2D     2
   9D     9
H  5H     5
   6H     6
S  JS    10
   4S     4
dtype: int64

In [142]:
deck.groupby(get_suit).apply(draw, n=2)

C  3C      3
   9C      9
D  JD     10
   10D    10
H  KH     10
   5H      5
S  AS      1
   7S      7
dtype: int64

In [143]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

AC      1
10C    10
JD     10
5D      5
6H      6
AH      1
AS      1
4S      4
dtype: int64

In [144]:
df = pd.DataFrame({"category": ["a", "a", "a", "a", "b", "b", "b", "b"],
                   "data": np.random.standard_normal(8),
                   "weights": np.random.standard_normal(8)})

In [145]:
df

  category      data   weights
0        a -1.522277 -0.326110
1        a -1.920607  0.918695
2        a  1.890109 -0.547167
3        a  0.099304  0.478582
4        b -0.371403 -0.337748
5        b -0.387304  1.792880
6        b -0.323512  0.459896
7        b -0.996158 -0.310753

In [146]:
grouped = df.groupby("category")

In [147]:
def get_wavg(group):
    return np.average(group["data"], weights=group["weights"])

In [148]:
grouped.apply(get_wavg)

/var/folders/rh/4jm75bkx7z55jq443q6pw8ym0000gn/T/ipykernel_49399/423584187.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped.apply(get_wavg)

category
a   -4.302868
b   -0.254428
dtype: float64

In [150]:
close_px = pd.read_csv("/Volumes/developer/Pycharm/Projects/DataAnalisisBook/pandasexamples/examples/stock_px.csv", parse_dates=True, index_col=0)

In [151]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB

In [152]:
close_px.tail()

              AAPL   MSFT    XOM      SPX
2011-10-10  388.81  26.94  76.28  1194.89
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

In [155]:
def spx_corr(group):
    return group.corrwith(group["SPX"])

In [156]:
rets= close_px.pct_change().dropna()

In [157]:
def get_year(x):
    return x.year

In [158]:
by_year = rets.groupby(get_year)

In [159]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [160]:
def corr_aapl_msft(x):
    return x["AAPL"].corr(x["MSFT"])

In [161]:
by_year.apply(corr_aapl_msft)

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

In [162]:
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X["intercept"] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [163]:
by_year.apply(regress, yvar="AAPL", xvars=["SPX"])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514

In [ ]:
# 10.4 Group Transforms and “Unwrapped” GroupBys
# 
# McKinney, Wes. Python for Data Analysis (p. 539). O'Reilly Media. Kindle Edition.