In [2]:
import numpy as np
import pandas as pd
from statsmodels.sandbox.regression.try_treewalker import data2
%matplotlib inline

[0, 1]
final branch with [0, 1] 1
[2, 3]
final branch with [2, 3] 5
[4, 5, 6]
final branch with [4, 5, 6] 15
working on branch [[2, 3], [4, 5, 6]] 40
[7]
final branch with [7] 7
working on branch [[0, 1], [[2, 3], [4, 5, 6]], [7]] 56
56

 tree with dictionary data
top 1000
subtree [('B1', ['a', 'b']), ('B2', [('B21', ['c', 'd']), ('B22', ['e', 'f', 'g'])]), ('B3', ['h'])]
B1 100
subtree ['a', 'b']
final branch with a a 0
final branch with b b 1
working on branch ('B1', ['a', 'b']) B1ab
B2 200
subtree [('B21', ['c', 'd']), ('B22', ['e', 'f', 'g'])]
B21 21
subtree ['c', 'd']
final branch with c c 2
final branch with d d 3
working on branch ('B21', ['c', 'd']) B21cd
B22 22
subtree ['e', 'f', 'g']
final branch with e e 4
final branch with f f 5
final branch with g g 6
working on branch ('B22', ['e', 'f', 'g']) B22efg
working on branch ('B2', [('B21', ['c', 'd']), ('B22', ['e', 'f', 'g'])]) B2B21cdB22efg
B3 300
subtree ['h']
final branch with h h 7
working on branch ('B3', ['h']) B3h
working on branch ('top', [('B1', ['a', 'b']), ('B2', [('B21', ['c', 'd']), ('B22', ['e', 'f', 'g'])]), ('B3', ['h'])]) topB1abB2B21cdB22efgB3h
topB1abB2B21cdB22efgB3h

In [3]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                "key2" : pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"), 
                "data1" : np.random.standard_normal(7),"data2" : np.random.standard_normal(7)})

In [4]:
df

   key1  key2     data1     data2
0     a     1  0.683982 -1.474339
1     a     2  0.677641 -0.362692
2  None     1 -0.275695 -0.656771
3     b     2  0.837012  1.156827
4     b     1  1.072723  0.474121
5     a  <NA> -0.459432 -0.811727
6  None     1 -1.410730 -0.805792

In [5]:
grouped = df["data1"].groupby(df["key1"])

In [6]:
grouped

In [7]:
grouped.mean()

key1
a    0.300730
b    0.954867
Name: data1, dtype: float64

In [8]:
means = df["data1"].groupby([df["key1"], df["key2"]]).mean()

In [9]:
means

key1  key2
a     1       0.683982
      2       0.677641
b     1       1.072723
      2       0.837012
Name: data1, dtype: float64

In [10]:
states= np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])
years = np.array([2005, 2005, 2006, 2005, 2006, 2006, 2005])

In [11]:
df["data1"].groupby([states, years]).mean()

CA  2005    0.677641
    2006   -0.367563
OH  2005    0.036755
    2006    1.072723
Name: data1, dtype: float64

In [12]:
df.groupby("key1").mean()

      key2     data1     data2
key1
a      1.5  0.300730 -0.882919
b      1.5  0.954867  0.815474

In [13]:
df.groupby("key2").mean(numeric_only=True)

         data1     data2
key2
1     0.017570 -0.615695
2     0.757327  0.397067

In [14]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    1     0.683982 -1.474339
     2     0.677641 -0.362692
b    1     1.072723  0.474121
     2     0.837012  1.156827

In [15]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [16]:
df.groupby("key1",dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [17]:
df.groupby(["key1", "key2"],dropna=False).size()

key1  key2
a     1       1
      2       1
      <NA>    1
b     1       1
      2       1
NaN   1       2
dtype: int64

In [18]:
df.groupby("key1").count()

      key2  data1  data2
key1
a        2      3      3
b        2      2      2

In [19]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  0.683982 -1.474339
1    a     2  0.677641 -0.362692
5    a  <NA> -0.459432 -0.811727
b
  key1  key2     data1     data2
3    b     2  0.837012  1.156827
4    b     1  1.072723  0.474121

In [20]:
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print((k1, k2))
    print(group)

('a', 1)
  key1  key2     data1     data2
0    a     1  0.683982 -1.474339
('a', 2)
  key1  key2     data1     data2
1    a     2  0.677641 -0.362692
('b', 1)
  key1  key2     data1     data2
4    b     1  1.072723  0.474121
('b', 2)
  key1  key2     data1     data2
3    b     2  0.837012  1.156827

In [21]:
pieces ={name: group for name, group in df.groupby("key1")}

In [22]:
pieces["b"]

  key1  key2     data1     data2
3    b     2  0.837012  1.156827
4    b     1  1.072723  0.474121

In [23]:
grouped = df.groupby({"key1": "key", "key2": "key",
                          "data1": "data", "data2": "data"}, axis="columns")

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/2987158108.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  grouped = df.groupby({"key1": "key", "key2": "key",

In [24]:
for group_key, group_value in grouped:
    print(group_key)
    print(group_value)

data
      data1     data2
0  0.683982 -1.474339
1  0.677641 -0.362692
2 -0.275695 -0.656771
3  0.837012  1.156827
4  1.072723  0.474121
5 -0.459432 -0.811727
6 -1.410730 -0.805792
key
   key1  key2
0     a     1
1     a     2
2  None     1
3     b     2
4     b     1
5     a  <NA>
6  None     1

In [25]:
df.groupby(["key1", "key2"])[["data2"]].mean()

              data2
key1 key2
a    1    -1.474339
     2    -0.362692
b    1     0.474121
     2     1.156827

In [26]:
s_grouped = df.groupby(["key1", "key2"])["data2"]

In [27]:
s_grouped

In [28]:
s_grouped.mean()

key1  key2
a     1      -1.474339
      2      -0.362692
b     1       0.474121
      2       1.156827
Name: data2, dtype: float64

In [29]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=["a", "b", "c", "d", "e"],
                      index=["Joe", "Steve", "Wanda", "Jill", "Trey"])

In [30]:
people.iloc[2:3, [1, 2]] = np.nan

In [31]:
people

              a         b         c         d         e
Joe   -1.669201 -0.153033 -1.826083 -0.278439  0.514181
Steve -0.233105  0.893516  0.200811 -1.586449  0.304923
Wanda -0.147023       NaN       NaN  1.438047 -0.046710
Jill  -1.776274  1.133817 -0.844772 -0.387607 -1.064264
Trey  -0.546022 -0.349223  0.522977  1.190841 -1.315198

In [32]:
mapping = {"a": "red", "b": "red", "c": "blue",
           "d": "blue", "e": "red", "f": "orange"}

In [33]:
by_column = people.groupby(mapping, axis=1)

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/953159321.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  by_column = people.groupby(mapping, axis=1)

In [34]:
by_column.sum()

           blue       red
Joe   -2.104522 -1.308053
Steve -1.385638  0.965334
Wanda  1.438047 -0.193732
Jill  -1.232379 -1.706721
Trey   1.713818 -2.210443

In [35]:
map_series = pd.Series(mapping)

In [36]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [37]:
people.groupby(map_series, axis=1).count()

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/1366557749.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  people.groupby(map_series, axis=1).count()

       blue  red
Joe       2    3
Steve     2    3
Wanda     1    2
Jill      2    3
Trey      2    3

In [38]:
people.groupby(len).sum()

          a         b         c         d         e
3 -1.669201 -0.153033 -1.826083 -0.278439  0.514181
4 -2.322296  0.784595 -0.321795  0.803235 -2.379462
5 -0.380128  0.893516  0.200811 -0.148402  0.258213

In [39]:
key_list = ["one", "one", "one", "two", "two"]

In [40]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -1.669201 -0.153033 -1.826083 -0.278439  0.514181
4 two -1.776274 -0.349223 -0.844772 -0.387607 -1.315198
5 one -0.233105  0.893516  0.200811 -1.586449 -0.046710

In [41]:
columns = pd.MultiIndex.from_arrays([["US", "US", "US", "JP", "JP"],
                                     [1, 3, 5, 1, 3]],
                                     names=["cty", "tenor"])

In [42]:
hier_df = pd.DataFrame(np.random.standard_normal((4, 5)), columns=columns)

In [43]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.438663 -0.549937 -1.079197 -0.035973  0.000579
1     -0.791701 -0.159629 -1.399494  1.353187 -2.163673
2     -0.357084 -0.365550 -0.178872 -1.319627  0.976409
3      0.668062 -0.096827 -0.693802 -0.674711 -0.631526

In [44]:
hier_df.groupby(level="cty", axis=1).count()

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/2861124539.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  hier_df.groupby(level="cty", axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [45]:
print(df)

   key1  key2     data1     data2
0     a     1  0.683982 -1.474339
1     a     2  0.677641 -0.362692
2  None     1 -0.275695 -0.656771
3     b     2  0.837012  1.156827
4     b     1  1.072723  0.474121
5     a  <NA> -0.459432 -0.811727
6  None     1 -1.410730 -0.805792

In [46]:
grouped = df.groupby("key1")

In [47]:
grouped["data1"].nsmallest(2)

key1
a     5   -0.459432
      1    0.677641
b     3    0.837012
      4    1.072723
Name: data1, dtype: float64

In [48]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

      key2     data1     data2
key1
a        1  1.143413  1.111647
b        1  0.235711  0.682706

In [49]:
grouped.describe()

      key2                                           data1            ...  \
     count mean       std  min   25%  50%   75%  max count      mean  ...
key1                                                                  ...
a      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   3.0  0.300730  ...
b      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   2.0  0.954867  ...

                         data2                                          \
           75%       max count      mean       std       min       25%
key1
a     0.680812  0.683982   3.0 -0.882919  0.559233 -1.474339 -1.143033
b     1.013795  1.072723   2.0  0.815474  0.482746  0.474121  0.644797


           50%       75%       max
key1
a    -0.811727 -0.587209 -0.362692
b     0.815474  0.986150  1.156827

[2 rows x 24 columns]

In [50]:
tips = pd.read_csv("/Users/grojas/Documents/ProjectsPycharm/Projects/DataAnalisisBook/DATA/pandasexamples/examples/tips.csv")

In [51]:
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [52]:
tips["tip_pct"] = tips["tip"] / tips["total_bill"]

In [53]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [54]:
grouped = tips.groupby(["day", "smoker"])

In [55]:
grouped_pct = grouped["tip_pct"]

In [56]:
grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [57]:
grouped_pct.agg(["mean", "std", peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [58]:
grouped_pct.agg([("average", "mean"), ("stdev", np.std)])

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/3111280939.py:1: FutureWarning: The provided callable <function std at 0x107b67400> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  grouped_pct.agg([("average", "mean"), ("stdev", np.std)])

              average     stdev
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [59]:
functions = ["count", "mean", "max"]

In [60]:
result = grouped[["tip_pct", "total_bill"]].agg(functions)

In [61]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [62]:
result["tip_pct"]

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [63]:
ftuples = [("Average", "mean"), ("Variance", np.var)]

In [64]:
grouped[["tip_pct", "total_bill"]].agg(ftuples)

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/780895.py:1: FutureWarning: The provided callable <function var at 0x107b675b0> is currently using SeriesGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  grouped[["tip_pct", "total_bill"]].agg(ftuples)

              tip_pct           total_bill
              Average  Variance    Average    Variance
day  smoker
Fri  No      0.151650  0.000791  18.420000   25.596333
     Yes     0.174783  0.002631  16.813333   82.562438
Sat  No      0.158048  0.001581  19.661778   79.908965
     Yes     0.147906  0.003767  21.276667  101.387535
Sun  No      0.160113  0.001793  20.506667   66.099980
     Yes     0.187250  0.023757  24.120000  109.046044
Thur No      0.160298  0.001503  17.113111   59.625081
     Yes     0.163863  0.001551  19.190588   69.808518

In [65]:
grouped.agg({"tip": np.max, "size": "sum"})

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/727700194.py:1: FutureWarning: The provided callable <function amax at 0x107b66680> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouped.agg({"tip": np.max, "size": "sum"})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [66]:
grouped.agg({"tip":np.max, "size": "sum"})

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/2136087996.py:1: FutureWarning: The provided callable <function amax at 0x107b66680> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouped.agg({"tip":np.max, "size": "sum"})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [67]:
grouped.agg({"tip_pct": ["min", "max", "mean", "std"],
             "size": "sum"})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

In [68]:
tips.groupby(["day", "smoker"], as_index=False).mean(numeric_only=True)

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863

In [69]:
# Apply
def top(df, n=5, column="tip_pct"):
    return df.sort_values(by=column)[:n]

In [70]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
102       44.30  2.50    Yes  Sat  Dinner     3  0.056433
57        26.41  1.50     No  Sat  Dinner     2  0.056797
0         16.99  1.01     No  Sun  Dinner     2  0.059447
187       30.46  2.00    Yes  Sun  Dinner     5  0.065660
210       30.06  2.00    Yes  Sat  Dinner     3  0.066534

In [71]:
tips.groupby("smoker").apply(top)

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/242339874.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby("smoker").apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     57        26.41  1.50     No   Sat  Dinner     2  0.056797
       0         16.99  1.01     No   Sun  Dinner     2  0.059447
       48        28.55  2.05     No   Sun  Dinner     3  0.071804
       146       18.64  1.36     No  Thur   Lunch     3  0.072961
       130       19.08  1.50     No  Thur   Lunch     2  0.078616
Yes    237       32.83  1.17    Yes   Sat  Dinner     2  0.035638
       102       44.30  2.50    Yes   Sat  Dinner     3  0.056433
       187       30.46  2.00    Yes   Sun  Dinner     5  0.065660
       210       30.06  2.00    Yes   Sat  Dinner     3  0.066534
       240       27.18  2.00    Yes   Sat  Dinner     2  0.073584

In [72]:
tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/2722508240.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

                 total_bill   tip smoker   day    time  size   tip_pct
smoker day
No     Fri  99        12.46  1.50     No   Fri  Dinner     2  0.120385
       Sat  111        7.25  1.00     No   Sat  Dinner     1  0.137931
       Sun  6          8.77  2.00     No   Sun  Dinner     2  0.228050
       Thur 149        7.51  2.00     No  Thur   Lunch     2  0.266312
Yes    Fri  92         5.75  1.00    Yes   Fri  Dinner     2  0.173913
       Sat  67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       Sun  172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       Thur 196       10.34  2.00    Yes  Thur   Lunch     2  0.193424

In [73]:
result = tips.groupby("smoker")["tip_pct"].describe()

In [74]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [75]:
result.unstack("smoker")

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [76]:
def f(group):
    return group.describe()

In [77]:
grouped.apply(f)

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/37897609.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped.apply(f)

                   total_bill       tip  size   tip_pct
day  smoker
Fri  No     count    4.000000  4.000000  4.00  4.000000
            mean    18.420000  2.812500  2.25  0.151650
            std      5.059282  0.898494  0.50  0.028123
            min     12.460000  1.500000  2.00  0.120385
            25%     15.100000  2.625000  2.00  0.137239
...                       ...       ...   ...       ...
Thur Yes    min     10.340000  2.000000  2.00  0.090014
            25%     13.510000  2.000000  2.00  0.148038
            50%     16.470000  2.560000  2.00  0.153846
            75%     19.810000  4.000000  2.00  0.194837
            max     43.110000  5.000000  4.00  0.241255

[64 rows x 4 columns]

In [78]:
tips.groupby("smoker", group_keys=False).apply(top)

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/2350148657.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby("smoker", group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
57        26.41  1.50     No   Sat  Dinner     2  0.056797
0         16.99  1.01     No   Sun  Dinner     2  0.059447
48        28.55  2.05     No   Sun  Dinner     3  0.071804
146       18.64  1.36     No  Thur   Lunch     3  0.072961
130       19.08  1.50     No  Thur   Lunch     2  0.078616
237       32.83  1.17    Yes   Sat  Dinner     2  0.035638
102       44.30  2.50    Yes   Sat  Dinner     3  0.056433
187       30.46  2.00    Yes   Sun  Dinner     5  0.065660
210       30.06  2.00    Yes   Sat  Dinner     3  0.066534
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584

In [79]:
frame = pd.DataFrame({"data1": np.random.standard_normal(1000),
                      "data2": np.random.standard_normal(1000)})

In [80]:
frame.head()

      data1     data2
0  0.627285  0.441461
1  0.867690  0.674430
2 -0.242281  0.557399
3  0.764092  0.191363
4 -0.717012  0.063610

In [81]:
quartiles= pd.cut(frame.data1, 4)

In [82]:
quartiles.head()

0     (0.38, 2.103]
1     (0.38, 2.103]
2    (-1.343, 0.38]
3     (0.38, 2.103]
4    (-1.343, 0.38]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.073, -1.343] < (-1.343, 0.38] < (0.38, 2.103] < (2.103, 3.825]]

In [83]:
def get_stats(group):
    return {"min": group.min(), "max": group.max(),
            "count": group.count(), "mean": group.mean()}

In [84]:
grouped = frame.groupby(quartiles)

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/4157715240.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = frame.groupby(quartiles)

In [85]:
grouped.apply(get_stats)

data1
(-3.073, -1.343]    {'min': [-3.0657411641562784, -2.3987930207335...
(-1.343, 0.38]      {'min': [-1.3389238023113028, -2.7467673907116...
(0.38, 2.103]       {'min': [0.38476988754834657, -2.7615128652346...
(2.103, 3.825]      {'min': [2.140829538360666, -1.877696504048763...
dtype: object

In [86]:
grouped.agg(["min", "max", "count", "mean"])

                     data1                               data2            \
                       min       max count      mean       min       max
data1
(-3.073, -1.343] -3.065741 -1.351180    96 -1.773634 -2.398793  2.471932
(-1.343, 0.38]   -1.338924  0.379816   530 -0.367638 -2.746767  2.807894
(0.38, 2.103]     0.384770  2.020733   359  0.987585 -2.761513  2.990050
(2.103, 3.825]    2.140830  3.825421    15  2.520792 -1.877697  3.211544


                 count      mean
data1
(-3.073, -1.343]    96 -0.067547
(-1.343, 0.38]     530 -0.038237
(0.38, 2.103]      359 -0.063254
(2.103, 3.825]      15  0.192373

In [87]:
quartiles_samp= pd.qcut(frame["data1"], 10, labels=False)

In [88]:
quartiles_samp.head()

0    7
1    7
2    3
3    7
4    2
Name: data1, dtype: int64

In [89]:
grouped = frame.groupby(quartiles_samp)

In [90]:
grouped.apply(get_stats)

data1
0    {'min': [-3.0657411641562784, -2.3987930207335...
1    {'min': [-1.3145184915631534, -2.0124025991176...
2    {'min': [-0.8415002937666769, -2.4198172434163...
3    {'min': [-0.47324659585933837, -2.620003141889...
4    {'min': [-0.21451424706949015, -2.746767390711...
5    {'min': [0.028972711147143112, -2.137967943927...
6    {'min': [0.310423643884212, -2.043941259713363...
7    {'min': [0.6198559915763717, -2.51143290929089...
8    {'min': [0.9109289158878348, -2.76151286523462...
9    {'min': [1.2913514772427188, -2.73785861235275...
dtype: object

In [91]:
s = pd.Series(np.random.standard_normal(6))

In [92]:
s[::2] = np.nan

In [93]:
s

0         NaN
1   -0.656144
2         NaN
3    0.835872
4         NaN
5    0.245718
dtype: float64

In [94]:
s.fillna(s.mean())

0    0.141815
1   -0.656144
2    0.141815
3    0.835872
4    0.141815
5    0.245718
dtype: float64

In [95]:
states = ["Ohio", "New York", "Vermont", "Florida",
          "Oregon", "Nevada", "California", "Idaho"]

In [96]:
group_key = ["East", "East", "East", "East","West", "West", "West", "West"]

In [97]:
data = pd.Series(np.random.standard_normal(8), index=states)

In [98]:
data

Ohio          0.391456
New York      0.151889
Vermont      -0.498282
Florida       1.157289
Oregon       -1.657581
Nevada        1.245301
California   -0.008892
Idaho        -2.703845
dtype: float64

In [99]:
data[["Vermont", "Nevada", "Idaho"]] = np.nan

In [100]:
data

Ohio          0.391456
New York      0.151889
Vermont            NaN
Florida       1.157289
Oregon       -1.657581
Nevada             NaN
California   -0.008892
Idaho              NaN
dtype: float64

In [101]:
data.groupby(group_key).size()

East    4
West    4
dtype: int64

In [102]:
data.groupby(group_key).count()

East    3
West    2
dtype: int64

In [103]:
data.groupby(group_key).mean()

East    0.566878
West   -0.833236
dtype: float64

In [104]:
def fill_mean(group):
    return group.fillna(group.mean())

In [105]:
data.groupby(group_key).apply(fill_mean)

East  Ohio          0.391456
      New York      0.151889
      Vermont       0.566878
      Florida       1.157289
West  Oregon       -1.657581
      Nevada       -0.833236
      California   -0.008892
      Idaho        -0.833236
dtype: float64

In [106]:
fill_values = {"East": 0.5, "West": -1}

In [107]:
def fill_func(group):
    return group.fillna(fill_values[group.name])

In [108]:
data.groupby(group_key).apply(fill_func)

East  Ohio          0.391456
      New York      0.151889
      Vermont       0.500000
      Florida       1.157289
West  Oregon       -1.657581
      Nevada       -1.000000
      California   -0.008892
      Idaho        -1.000000
dtype: float64

In [109]:
suits = ["H", "S", "C", "D"]
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ["A"] + list(range(2, 11)) + ["J", "K", "Q"]
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val, index=cards)

In [110]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [111]:
def draw(deck, n=5):
    return deck.sample(n)

In [112]:
draw(deck)

7C     7
KD    10
AC     1
5C     5
KS    10
dtype: int64

In [113]:
def get_suit(card):
    # last letter is suit
    return card[-1]

In [114]:
deck.groupby(get_suit).apply(draw, n=2)

C  9C     9
   AC     1
D  3D     3
   7D     7
H  5H     5
   7H     7
S  QS    10
   6S     6
dtype: int64

In [115]:
deck.groupby(get_suit).apply(draw, n=2)

C  8C     8
   KC    10
D  9D     9
   QD    10
H  AH     1
   9H     9
S  5S     5
   7S     7
dtype: int64

In [116]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

2C      2
5C      5
5D      5
10D    10
8H      8
3H      3
6S      6
10S    10
dtype: int64

In [117]:
df = pd.DataFrame({"category": ["a", "a", "a", "a", "b", "b", "b", "b"],
                   "data": np.random.standard_normal(8),
                   "weights": np.random.standard_normal(8)})

In [118]:
df

  category      data   weights
0        a  0.887475 -0.090051
1        a  0.462722  0.888321
2        a  1.277347  0.869344
3        a  0.986758  2.061068
4        b  0.437155  0.065759
5        b  0.335505  0.841404
6        b -0.140957  0.638200
7        b  0.500699 -2.757730

In [119]:
grouped = df.groupby("category")

In [120]:
def get_wavg(group):
    return np.average(group["data"], weights=group["weights"])

In [121]:
grouped.apply(get_wavg)

/var/folders/7p/3wrdkgn5323285b4npq3z6_c0000gp/T/ipykernel_3841/423584187.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped.apply(get_wavg)

category
a    0.932060
b    0.956566
dtype: float64

In [123]:
close_px = pd.read_csv("/Users/grojas/Documents/ProjectsPycharm/Projects/DataAnalisisBook/DATA/pandasexamples/examples/stock_px.csv", parse_dates=True, index_col=0)

In [124]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB

In [125]:
close_px.tail()

              AAPL   MSFT    XOM      SPX
2011-10-10  388.81  26.94  76.28  1194.89
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

In [126]:
def spx_corr(group):
    return group.corrwith(group["SPX"])

In [127]:
rets= close_px.pct_change().dropna()

In [128]:
def get_year(x):
    return x.year

In [129]:
by_year = rets.groupby(get_year)

In [130]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [131]:
def corr_aapl_msft(x):
    return x["AAPL"].corr(x["MSFT"])

In [132]:
by_year.apply(corr_aapl_msft)

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

In [133]:
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X["intercept"] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [134]:
by_year.apply(regress, yvar="AAPL", xvars=["SPX"])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514

In [ ]:
# 10.4 Group Transforms and Unwrapped GroupBys
# 
# McKinney, Wes. Python for Data Analysis (p. 539). O'Reilly Media. Kindle Edition.